<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" />
	</configSections>
	<entityFramework>
		<queryCache size="10000" cleaningIntervalInSeconds="60" />
	</entityFramework>
</configuration>